.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Node.model_name.human
    .d-flex.model-buttons
      - if @node.id.present?
        = button_to t('helpers.submit.delete'), node_path(@node), class: 'btn btn-danger', method: :delete
      = button_to t('helpers.submit.cancel'), nodes_path, class: 'btn btn-secondary', method: :get

  .card-body
    = simple_form_for @node do |f|
      = f.input :hostname
      = f.input :ip
      = f.input :api_url
      = f.input :port
      = f.input :key, as: :password
        
      = f.submit class: 'btn btn-primary mt-2'